<div class="navbar navbar-expand-lg bg-body-tertiary topnav">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to t('defaults.home'), top_path %>
      </li>
      <li class="nav-item">
        <%= link_to t(Place.model_name.human), place_index_path %>
      </li>
      <li class="nav-item">
        <%= link_to t('defaults.register'), new_user_path %>
      </li>
      <li class="nav-item">
        <%= link_to t('defaults.login'), login_path %>
      </li>
      <div class="d-flex mt-2 ms-5">
        <%= render 'place/search_form', q: @q, url: place_index_path %>
      </div>
    </ul>
  </div>
</div>