<%= render 'new', event: @new_event %>
<%= month_calendar events: @events do |date, events| %>
  <%= date.day %>
  <% events.each do |event| %>
    <div class="event-container">
      <% start_date = event.start_time.to_date %>
      <% end_date = event.end_time.to_date %>
      <% date_range = start_date..end_date %>
      <% is_start_date = date == start_date %>
      <% is_end_date = date == end_date %>
      
      <% if date_range.include?(date) %>
        <% if is_start_date %>
          <button type="button" id="Show-<%= event.id %>" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#ShowEvent-<%= event.id %>">
            <%= event.name %><br>
            <% if is_end_date %>
              <%= l event.start_time, format: :time %>〜<%= l event.end_time, format: :time %>
            <% else %>
              <%= l event.start_time, format: :time %><br>〜<%= l event.end_time, format: :short %>
            <% end %>
          </button>
          <%= render 'show', event: event %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>

