  <div class="place-details">
    <section class="place-info info-box">
      <header class="place-info-header">
        <h1 class="place-info-title"><%= @place.name %></h1>
          <p><%= @place.eng_name %></p>
        <%= render 'list_button', place: @place %>
      </header>
      <table class="place-info-table">
        <tbody>
          <tr>
            <th><b><%= t('.address') %></b></th>
            <td colspan="2" id="address"><%= @place.address %></td>
          </tr>
          <tr class="thick-row">
            <td colspan="3" class="small-info"><b><%= @place.eng_address %></b></td>
          </tr>
          <tr>
            <th colspan="2"><b><%= t('.website') %></b></th>
            <td><b><%= link_to "website", @website %></b></td>
          </tr>
          <tr>
            <th colspan="2"><b><%= t('.phone') %></b></th>
            <td><b><%= @phone %></b></td>
          </tr>
          <tr>
            <td colspan="2"><%= t(VegetarianType.human_attribute_name(:name)) %></td>
            <td><%= vege_option(@place.place_of_vegetarian_type.option) + @place.vegetarian.name %></td>
          </tr>
          <tr class="thick-end">
            <th colspan="2"><b>料理の種類</b></th>
            <td><%= @categories.first %></td>
          </tr>
        </tbody>
        <tfoot class="small-info">
          <% if @opening_hours %>
            <tr>
              <td class="blank-cell"></td>
              <th></th>
              <td><%= t('.opening_hours') %></td>
            </tr>
            <% @opening_hours.each do |hour| %>
            <tr>
              <td class="blank-cell"></td>
              <th><b></b></th>
              <td><%= hour %></td>
            </tr>
            <% end %>
          <% else %>
            <tr>
              <td class="blank-cell"></td>
              <th><b></b></th>
              <td><%= @status %></td>
            </tr>
          <% end %>
        </tfoot>
      </table>
      <p class="small-info text-center">
        <%= link_to t('defaults.edit'), edit_place_path(@place) %> &bull; Carbohydrate 4 &bull; Protein 4
      </p>
    </section>
    <!--   <% @photos.each do |photo| %>
    <% photo_url = "https://maps.googleapis.com/maps/api/place/photo?photoreference=#{photo['photo_reference']}&sensor=false&maxheight=400&maxwidth=600&key=#{ENV['GOOGLE_MAPS_API_KEY']}" %>
    <%= image_tag(photo_url) %>
    <% end %> -->
    <div class="place-content">
      <% photo = @photos.first %>
      <% photo_url = "https://maps.googleapis.com/maps/api/place/photo?photoreference=#{photo['photo_reference']}&sensor=false&maxheight=400&maxwidth=600&key=#{ENV['GOOGLE_MAPS_API_KEY']}" %>
      <%= image_tag(photo_url) %>
      <div id="gmap" style="height:100%; width:100%;"></div>
    </div>
  </div>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&libraries=places&callback=initMap" async defer></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>


